
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("image/new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
header{
    display: flex;
    background-color: black;
    padding: 2%;
}

nav {
    flex-direction: row;
    padding-left: 4%;
    width: 100%;
    left: 0px;
    position: fixed;
   
   
}
 nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12%;
    margin-left: 53%;  
}
.style-h2{
    color: white;
    font-size: 27px;
}
 nav ul li{
    list-style-type: none;
    padding-bottom: 4%;
}
nav ul li a{
    text-decoration: none;
    color: white;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 300;
    
}

nav ul li a:hover{
    color: chocolate;
} 

    






